<div class="landing_wrapper">
  <div class="my-augfiguration sticky header" augmented-ui="tr-clip bl-clip br-clip-y exe">
    <span class="header_title">
      EAST RIVER PACK
    </span>
  </div>
  <div class="content">
    <div class="aug-content">
      <!-- <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div> -->

      <!-- todo center-->
      <!-- <div class="dogs">
      <img src="assets/images/dog.gif" />
      <img src="assets/images/dog.gif" />
      <img src="assets/images/dog.gif" />
    </div> -->
      <!-- meh, maybe we'll want to not do a repeated thing-->
      <div class="feature">
        <div class="feature_center">
          <img class="feature_img" src="assets/images/logo.png" />
        </div>
      </div>
      <hr size="30">

      <div class="feature">
        <div class="feature_left">
          todo: pack image
          <img src="assets/images/dog.gif" />
        </div>
        <div class="feature_right">
          <!--TODO: image about the pack -->
          <div class="feature_header">
            ABOUT
          </div>
          <div class="feature_text">
            <p>
              here's some info about the pack.
              here's some more info about the pack.
            </p>
            pcak pack pack pack pack
          </div>
        </div>
      </div>
      <hr size="30">
      <div class="feature">
        <div class="feature_center">
          <div class="feature_header">
            EVENT INFO SIGNUP
          </div>
          <div class="feature_text">
            <input type="text" value="notworkingyet" />
          </div>
        </div>
      </div>
      <hr size="30">
      <div class="feature">
        <div class="socialmedia feature_center">
          <a href="https://www.facebook.com/eastriverpack/">FB </a>
          <a href="https://www.instagram.com/eastriverpack/">IG </a>
          <a href="https://www.twitter.com/eastriverpack/">TW</a>
        </div>
      </div>
    </div>
  </div>
</div>