<div class="landing_wrapper">

  <div class="content">
    <div class="aug-content">
      <!-- <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div>
    <div>gay</div> -->

      <!-- todo center-->
      <!-- <div class="dogs">
      <img src="assets/images/dog.gif" />
      <img src="assets/images/dog.gif" />
      <img src="assets/images/dog.gif" />
    </div> -->
      <!-- meh, maybe we'll want to not do a repeated thing-->
      <div class="feature">
        <div class="feature_center">
          <img class="feature_img" src="assets/images/logo.png" />
        </div>
      </div>
      <hr size="30">

      <div class="feature">
        <div class="feature_left">
          <img style="padding-left:25px;" src="assets/images/pack.jpg" />
        </div>
        <div class="feature_right">
          <div class="feature_header">
            ABOUT US
          </div>
          <div class="feature_text">
            East River Pack is a chosen family of Puppies. Our goal in Brooklyn is to build community through hosting events that engage our varying kinky family members. At our public events, we create a safe space for all self-identified Pups and Kinksters to be accepted. East River Pack strives for a gentler, more respectful, and fun kink scene.
          </div>
        </div>
      </div>
      <hr size="30">
      <div class="feature">
        <div class="feature_center">
          <div class="feature_header">
          </div>
          <div class="feature_text">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup">
              <form
                action="https://gmail.us20.list-manage.com/subscribe/post?u=f546b18e181e26dfe2d7f6a40&amp;id=5c63e30f7f"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <label for="mce-EMAIL"> EVENT INFO SIGNUP </label>
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                    required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                      name="b_f546b18e181e26dfe2d7f6a40_5c63e30f7f" tabindex="-1" value=""></div>
                  <div class="clear">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                  </div>
                </div>
              </form>
            </div>

            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
      <hr size="30">
      <div class="feature">
        <div class="socialmedia feature_center">
          <a href="https://www.instagram.com/eastriverpack">
            <img id="ig_icon" src="assets/images/ig_icon.png"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>