<div class="landing_wrapper">

  <div class="content">
    <div class="aug-content">
      <app-member-detail name="aura"></app-member-detail>
      <hr size="30">
      <app-member-detail name="koda"></app-member-detail>
      <hr size="30">
      <app-member-detail name="tender"></app-member-detail>
      <hr size="30">
      <app-member-detail name="kit"></app-member-detail>
      <hr size="30">
      <app-member-detail name="zan"></app-member-detail>
      <hr size="30">
      <app-member-detail name="cedar"></app-member-detail>
      <hr size="30">
      <app-member-detail name="raptor"></app-member-detail>
    </div>
  </div>
</div>