<div class="feature">
    <div class="feature_title">
      {{name}}
    </div>
    <div class="feature_body">
      <div class="feature_left">
        <img class="member_img" src="assets/images/{{img_path}}.jpg" />
      </div>
      <div class="feature_right">
        <!--TODO: image about the pack -->
        <div class="feature_header">
          bark bark bark!
        </div>
        <div class="feature_text">
          <p>
            <!-- This is a short bio section about what makes ya growl -->
          </p>
        </div>
      </div>
    </div>
  </div>