<div class="feature">
    <div class="feature_title">
      {{name}}
    </div>
    <div class="feature_body">
      <div class="feature_left">
        member image
        <img src="assets/images/dog.gif" />
      </div>
      <div class="feature_right">
        <!--TODO: image about the pack -->
        <div class="feature_header">
          ABOUT NAME
        </div>
        <div class="feature_text">
          <p>
            here's some info about the pack.
            here's some more info about the pack.
          </p>
          pcak pack pack pack pack
        </div>
      </div>
    </div>
  </div>