<div class="feature">
    <div class="feature_title">
      {{name}}
    </div>
    <div class="feature_body">
      <div class="feature_left">
        member image
        <img src="assets/images/dog.gif" />
      </div>
      <div class="feature_right">
        <!--TODO: image about the pack -->
        <div class="feature_header">
          ABOUT {{name}}
        </div>
        <div class="feature_text">
          <p>
              bio bio bio bio bio
              iob iob iob iob iob
              obi obi obi obi obi
          </p>
        </div>
      </div>
    </div>
  </div>